
<div class="container mx-auto px-4 py-8">
  @if(productResource.isLoading()) {
  <div class="flex justify-center items-center h-screen">
    <span class="loading loading-spinner loading-lg"></span>
  </div>
}

@if(productResource.hasValue()) {
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-3">
    <!-- carrucel de Imagenes -->
     <product-carousel [images]="productResource.value()!.images" />

    <div>
      <h2 class="test-2xl font-bold font-montserrat">
        {{ productResource.value()!.title }}
      </h2>
      <div class="divider"></div>

      <p>{{ productResource.value()!.description }}</p>
    </div>
  </div>
}
</div>
