<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure>
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2
      [routerLink]="['/product', product().slug]"
      class="card-title font-montserrat text-sky-500 text-lg hover:underline link-secondary">{{product().title }}
    </h2>
    <p>{{ product().description | slice: 0:70 }} ...</p>
    <div class="card-actions justify-end">
      <!-- <button class="btn btn-primary hover:bg-violet-500">Buy Now</button> -->
      <a [routerLink]="['/product', product().slug]" routerLinkActive="router-link-active"
        class="link link-secondary text-slate-300 card-title font-montserrat">Ir al Producto
      </a>
    </div>
  </div>
</div>
