<div class="card card-compact bg-base-100 shadow-xl animate-fadeIn">
  <figure [routerLink]="['/product', product().slug]" class="cursor-pointer">
    <img [src]="product().images | productImage" [alt]="product().title" />
  </figure>
  <div class="card-body">
    <h2 [routerLink]="['/product', product().slug]"
        class="card-title cursor-pointer font-montserrat text-sky-500 text-lg hover:underline link-secondary line-clamp-1">
      {{product().title | customTranslate }}
    </h2>
    <p>{{ product().description| slice: 0:70 }} ...</p>
    <div class="flex card-actions justify-between items-center">
      <!-- Componente de visualización de estrellas con @for y @if (Angular 19) -->
        <div class="flex items-center gap-1">
          @for (star of [1, 2, 3, 4, 5]; track star) {
            @if (visualRating >= star) {
              <svg class="w-3 h-3 text-yellow-400 fill-current" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                viewBox="0 0 20 20">
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.036 3.197a1 1 0 00.95.69h3.356c.969 0 1.371 1.24.588 1.81l-2.717 1.974a1 1 0 00-.364 1.118l1.036 3.197c.3.921-.755 1.688-1.54 1.118l-2.717-1.974a1 1 0 00-1.175 0L6.54 15.03c-.784.57-1.838-.197-1.539-1.118l1.036-3.197a1 1 0 00-.364-1.118L2.956 8.624c-.783-.57-.38-1.81.588-1.81h3.356a1 1 0 00.95-.69l1.036-3.197z" />
              </svg>
            } @else {
              <svg class="w-3 h-3 text-gray-300" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.036 3.197a1 1 0 00.95.69h3.356c.969 0 1.371 1.24.588 1.81l-2.717
                    1.974a1 1 0 00-.364 1.118l1.036 3.197c.3.921-.755 1.688-1.54 1.118l-2.717-1.974a1 1 0 00-1.175
                    0L6.54 15.03c-.784.57-1.838-.197-1.539-1.118l1.036-3.197a1 1 0 00-.364-1.118L2.956
                    8.624c-.783-.57-.38-1.81.588-1.81h3.356a1 1 0 00.95-.69l1.036-3.197z" />
              </svg>
            }
          }
        </div>

      <!-- <button class="btn btn-primary hover:bg-violet-500">Buy Now</button> -->
      <a [routerLink]="['/product', product().slug]" routerLinkActive="router-link-active"
        class="link link-secondary text-slate-300 card-title font-montserrat">
        Ir al Producto
      </a>
    </div>
  </div>
</div>
