<div class="join flex justify-center items-center mt-4 py-5">

  @for (page of getPageList(); track page) {
    <input
    class="join-item btn btn-lg btn-square focus:text-white checked:text-white"
    type="radio"
    name="options"
    [routerLink]="[]"
    [queryParams]="{ page: page} "
    [attr.aria-label]="page"
    [value]="page"
    [checked]="page === currentPage()"
    (click)="activePage.set(page)"
    />

  }

  @empty { <p>La app está despertando, por favor espera unos segundos y vuelve a intentarlo ó se puede actualizar la App un par de veces.</p> }
</div>
