<div class="flex justify-between items-center my-1">
  <h1 class="text-sm md:text-3xl font-bold font-montserrat mt-1">Todos los Productos</h1>
  <button (click)="toggleCart()" class="relative p-1 rounded-full bg-gray-100 hover:bg-indigo-100 transition">🛒
    <span
      class="absolute -top-1 -right-1 bg-red-500 text-white text-xs font-bold w-5 h-5 flex items-center justify-center rounded-full shadow">
      {{ 3 }}
    </span>
  </button>
</div>
<div class="flex justify-between">
  <h5 class="text-sm md:text-xl mt-1">Para todos los gustos</h5>
  <search-bar (search)="filtrarProductos($event)"></search-bar>
</div>

<!-- Aquí montamos el carrito -->
<shopping-cart [isOpen]="isCartOpen()"></shopping-cart>

@defer (when isLoading()) {
<section class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 mt-2 gap-3">
  @if (isLoading()) {
    @for (skeleton of [1, 2, 3, 4, 5, 6, 7, 8, 9]; track skeleton) {
      <product-card-skeleton />
    }
  } @else if (!hasError() ) {
    @for (product of productsResource.value()?.products; track $index) {
      <product-card [product]="product" />
    }
  } @else {
    <div class="col-span-full text-center text-white mt-6 text-lg">
      <strong>La App se está despertando...</strong><br />
      Por favor espere unos segundos o recargue la página si la situación persiste.
    </div>
  }
</section>
}

<section>
  @if (!isLoading() && !hasError()) {
    <shared-pagination
      [pages]="productsResource.value()?.pages ?? 0"
      [currentPage]="paginationService.currentPage()" />
  }
</section>
