<a routerLink="" class="absolute top-2 mt-20 ml-32 left-2 text-2xl text-blue-300 hover:underline">← Ir a Inicio</a>

<h1 class="text-3xl font-montserrat font-bold text-secondary text-center mb-6">Autenticación</h1>
<form class="flex flex-col gap-2 w-full max-w-xl" [formGroup]="loginForm">
  <div class="mb-1">
    <label class="input input-bordered flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path d="M2.5 3A1.5 1.5 0 0 0 1 4.5v.793c.026.009.051.02.076.032L7.674 8.51c.206.1.446.1.652 0l6.598-3.185A.755.755 0 0 1 15
             5.293V4.5A1.5 1.5 0 0 0 13.5 3h-11Z" />
        <path
          d="M15 6.954 8.978 9.86a2.25 2.25 0 0 1-1.956 0L1 6.954V11.5A1.5 1.5 0 0 0 2.5 13h11a1.5 1.5 0 0 0 1.5-1.5V6.954Z" />
      </svg>
      <input type="text" class="grow" id="email" name="email" autocomplete="email" placeholder="Email"
        formControlName="email" />
    </label>
    @if (formUtils.isValidField(loginForm, 'email')) {
    <span class="block mt-1 text-sm text-red-500">
      {{ formUtils.getFieldError(loginForm, 'email') }}
    </span>
    }
  </div>
  <div class="mb-1">
    <label class="input input-bordered flex items-center gap-2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="h-4 w-4 opacity-70">
        <path fill-rule="evenodd"
          d="M14 6a4 4 0 0 1-4.899 3.899l-1.955 1.955a.5.5 0 0 1-.353.146H5v1.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-2.293a.5.5 0 0 1
             .146-.353l3.955-3.955A4 4 0 1 1 14 6Zm-4-2a.75.75 0 0 0 0 1.5.5.5 0 0 1 .5.5.75.75 0 0 0 1.5 0 2 2 0 0 0-2-2Z"
          clip-rule="evenodd" />
      </svg>
      <input type="password" id="password" name="password" autocomplete="new-password" class="grow"
        placeholder="Password" formControlName="password" />
    </label>
    @if (formUtils.isValidField(loginForm, 'password')) {
    <span class="block mt-1 text-sm text-red-500">
      {{ formUtils.getFieldError(loginForm, 'password') }}
    </span>
    }
  </div>

  <button type="submit" class="btn btn-secondary text-slate-200" (click)="onLogin()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
      <path d="M4.5 6.375a4.125 4.125 0 1 1 8.25 0 4.125 4.125 0 0 1-8.25 0ZM14.25 8.625a3.375 3.375 0 1 1 6.75 0 3.375 3.375 0 0 1-6.75 0ZM1.5
               19.125a7.125 7.125 0 0 1 14.25 0v.003l-.001.119a.75.75 0 0 1-.363.63 13.067 13.067 0 0 1-6.761 1.873c-2.472 0-4.786-.684-6.76-1.873a.75.75
               0 0 1-.364-.63l-.001-.122ZM17.25 19.128l-.001.144a2.25 2.25 0 0 1-.233.96 10.088 10.088 0 0 0 5.06-1.01.75.75 0 0 0 .42-.643 4.875 4.875
               0 0 0-6.957-4.611 8.586 8.586 0 0 1 1.71 5.157v.003Z" />
    </svg>
    Login
  </button>

  @if (hasError()) {
  <div role="alert" class="alert alert-error animate-fadeIn fixed bottom-5 right-5 w-96">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 shrink-0 stroke-current" fill="none" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
    </svg>
    <span>Por favor revise la informacion ingresada.</span>
  </div>
  }

  <p class="text-center font-semibold text-slate-400">
    ¿No tienes una cuenta?
    <a class="text-slate-300 hover:text-cyan-600 transition-colors" routerLink="/auth/register">
      Regístrate
    </a>
  </p>
</form>
