/* Swiper Container */
.swiper {
  width: 100%;
  height: 500px;
  padding-bottom: 2rem; /* Espacio para la paginación */
}

/* Slides */
.swiper-slide {
  text-align: center;
  font-size: 1.125rem; /* Tamaño de fuente para dispositivos móviles */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem; /* Bordes redondeados para un toque moderno */
  overflow: hidden; /* Oculta cualquier desbordamiento si la imagen no se ajusta */
}

/* Imágenes dentro de los slides */
.swiper-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover; /* Asegura que la imagen cubra el contenedor sin distorsionarse */
  border-radius: 0.5rem;
}

/* Navegación (botones prev/next) */
.swiper-button-next, .swiper-button-prev {
  color: #333; /* Un color sobrio para los botones */
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.swiper-button-next::after, .swiper-button-prev::after {
  font-size: 1rem;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #000;
}

/* Paginación */
.swiper-pagination-bullet {
  background-color: #999;
  width: 8px;
  height: 8px;
  opacity: 0.7;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background-color: #333;
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* Media Queries para refinamiento adicional */
@media (max-width: 767px) {
  .swiper-button-next, .swiper-button-prev {
    display: none; /* Oculta los botones en dispositivos pequeños para más espacio */
  }
}
