
<footer class="bg-base-100 rounded-lg shadow-sm dark:bg-gray-900 m-4">
  <div class="w-full max-w-screen-xl mx-auto px-4 md:py-8">
      <div class="sm:flex sm:items-center md:flex-row md:items-center md:justify-between lg:justify-between">
          <a routerLink="/" class="btn btn- text-xl sm:flex hidden font-montserrat transition ease-in-out hover:-translate-y-1
                                   hover:scale-110 border-indigo-500/75 shadow-2xl shadow-indigo-500/50 group">
            Teslo
            <span class="text-secondary">| Shop.</span>
          </a>
          <ul class="flex flex-wrap justify-center md:justify-end items-center text-xs font-montserrat text-gray-500 dark:text-gray-400">
              <li>
                  <a href="#" class="hover:underline mx-1 md:me-6">About</a>
              </li>
              <li>
                  <a href="#" class="hover:underline mx-1 md:me-6">Privacy Policy</a>
              </li>
              <li>
                  <a href="#" class="hover:underline mx-1 md:me-6">Licensing</a>
              </li>
              <li>
                  <a href="#" class="hover:underline">Contact</a>
              </li>
          </ul>
      </div>
      <hr class="border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-4" />
      <span class="block text-xs text-center sm:text-sm sm:text-center md:text-sm text-gray-500 dark:text-gray-400 hover:underline">
        ©2025 <a href="https://flowbite.com/">Teslo~Shop™</a>. All Rights Reserved ~ WjmmK².
      </span>
  </div>
</footer>

