<section class="container px-4 max-w-screen-xl mx-auto p-2">
  <front-navbar />
  <a routerLink="" class=" absolute
    top-2
    left-2
    mt-16
    ml-4
    text-base
    text-blue-300
    hover:underline

    sm:mt-20
    sm:ml-20
    sm:text-lg

    md:mt-20
    md:ml-64
    md:text-xl

    lg:mt-20
    lg:ml-64
    lg:text-2xl">← Ir a Inicio</a>
  <div class="flex items-center justify-center min-h-screen">
    <div class="bg-slate-100 rounded-lg shadow-2xl p-6">
      <router-outlet />
    </div>
  </div>
  <app-footer />
</section>
