
<nav class="bg-white border-gray-200 dark:bg-gray-900 my-2">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-2">
    <a routerLink="/" class="btn btn- text-xl -ml-1 shadow-indigo-500 font-montserrat">
      Teslo
      <span class="text-secondary cursor-progress">| Shop.</span>
    </a>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul class="font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8
                 rtl:space-x-reverse md:mt-0 md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
        <li>
          <a routerLink=""
             routerLinkActive="text-secondary"
             [routerLinkActiveOptions]="{ exact: true }"
             class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0
                    md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                    dark:hover:text-white md:dark:hover:bg-transparent">Inicio</a>
        </li>
        <li>
          <a routerLink="/about"
             routerLinkActive="text-secondary"
             class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0
                    md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                    dark:hover:text-white md:dark:hover:bg-transparent"
          >Nosotros</a>
        </li>
        <li>
          <a routerLink="/gender/men"
             routerLinkActive="text-secondary"
             class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0
                    md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                    dark:hover:text-white md:dark:hover:bg-transparent"
          >Hombres</a>
        </li>
        <li>
          <a routerLink="/gender/women"
             routerLinkActive="text-secondary"
             class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0
                    md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                    dark:hover:text-white md:dark:hover:bg-transparent"
          >Mujeres</a>
        </li>
        <li>
          <a routerLink="/gender/kid"
             routerLinkActive="text-secondary"
             class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0
                    md:hover:text-blue-700 md:p-0 dark:text-white md:dark:hover:text-blue-500 dark:hover:bg-gray-700
                    dark:hover:text-white md:dark:hover:bg-transparent"
          >Niños</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

